!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0, maximum-scale=1.0", name: "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700", rel: "stylesheet"}
    %link{href: "https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css", rel: "stylesheet"}
    / Use the title from a page's frontmatter if it has one
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/images/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/images/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/images/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/images/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#da532c", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    %title= "Saskia Bonis"
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    = stylesheet_link_tag "site"
    = stylesheet_link_tag "jquery.fullPage.css"

  %body
    = yield
  = javascript_include_tag "tree.js"
  = javascript_include_tag "treeSaskia.js"
  = javascript_include_tag "mobileDetection.js"
  = javascript_include_tag "video.js"
  = javascript_include_tag "site.js"
  = javascript_include_tag "jquery.fullPage.js"
  = javascript_include_tag "fullPageConfig.js"
